
<!DOCTYPE html>
<html lang="en">

<head>
    
        <title>Solid Waste Management</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="stylesheet" href="styles3.css">
    <title>CARPE</title>
</head>

<body>

    <div class="row">
        <div cass="container mb-30">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <div class="container">
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            {% if user.is_authenticated%}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'dashboard'%}">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout'%}">LOGOUT</a>
                            </li>
                            {%endif%}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </nav>


    <div class="container" id="formwithlogo">
        <div class="container-fluid float-left">
            <div class="row center-block" style="margin-top: 50px" >
                <div class="col-md-3 col-sm-2 col-sm-offset-1 col-xs-2 col-xs-offset-1 ml-auto center-block">
    
                    <div id="shopname">
                        <h3 class="display-3 text-primary">
                            CARPE
                        </h3>
                    </div>
                </div>
    
        </div>
        <div>
            {% if user.is_authenticated %}
            <h2> Hey!{{user.username}} you are Logged In</h2>
            <a href="{% url 'dashboard'%}">GO TO DASHBOARD</a>
            <a href="{% url 'form1'%}">ADD NEW SURVEY</a>
            
            {% else%}
            <h2>Alas! Not Logged in</h2>
            <a href="{% url 'signup' %}">Signup</a></nbsp></nbsp></nbsp></nbsp>
            <a href="{% url 'login_view' %}">Login</a>
            {% endif %}
        </div>

        </div>
    </div>



    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>